.client-component {
    display: flex;
    padding: 10px;
    width: 100%;
}

.client-component > .client-component-nombre {
    flex: 0.4;
}

.client-component > .client-component-contacto {
    flex: 0.2;
}

.client-component > .client-component-estatus {
    flex: 0.2;
}

.client-component > .client-component-setAppointment {
    flex: 0.1;
    cursor: pointer;
}

.client-component > a {
    text-decoration: none;
    color: black;
}