nav {
    display: flex;
    padding: 15px;
    background-color: var(--secondary-color);
    color: white;
    justify-content: space-between;
    font-size: 18px;
}

nav > .nav-links > a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: 500;
}